@import '../../styles/theme/theme.scss';

button{
    padding: .75rem 1.95rem;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 4px;
    &:focus{
        outline: none;
        border: none;
    }
}
.primary{
    font-size: 1.05rem;
    background-color: $red-100;
    color: $white;
    font-weight: 600;
    letter-spacing: .4px;
    height: 52px;
    border: 1px solid $red-100;
    box-shadow: 0 8px 32px rgba(255,75,31,.14), 0 4px 8px rgba(255,75,31,.04);
    &:hover{
         box-shadow: 0 8px 32px rgba(255,75,31,.24), 0 4px 8px rgba(255,75,31,.14);
        background-color: $red-darker;
        border: 1px solid $red-darker;
        transition: all .45s ease-in-out;
    }

}
.outlined{
    background-color: transparent;
    border: none;
    color: $red-darker;
    font-size: 1.05rem;

    &:hover{
        background-color: $red-100;
        color: $white;
        transition: all .45s ease-in-out;
    }
}