@import '../../../styles/theme/theme.scss';

.iconInputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    & > .label {
      margin: 30px 0 12px 0;
      text-transform: capitalize;
    }
    & > .root {
        display: grid;
        grid-auto-flow: column;
        width: 100%;
        grid-gap: 8px;
        .option {
          border-radius: 4px;
          padding: 10px;
          cursor: pointer;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          transition: all 0.15s ease-out;
          border: 1px solid $red-40;
          & > span {
            display: flex;
            transition: all 0.15s ease-out;
            color: $red-darker;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.4px;
            font-size: 0.8rem;
          }
          & > svg {
            height: 120px;
            width: 160px;
          
          
          }
          &:hover {
            background-color: $red-20;
            transition: all 0.45s ease-in;
     
          
          }
        }
        .optionSelected {
          border-radius: 4px;
          cursor: pointer;
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          padding: 10px;
          background-color: $red-20;
    
          & > span {
            color: $red-darker;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.4px;
            font-size: 0.8rem;
            text-align: center;
          }
          & > svg {
            height: 120px;
            width: 160px;
            transform: scale(1.1);
          
           
           
          }
        }
      }
}

