@import '../../styles/theme/theme.scss';

.homePage{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0 0 0;
    background-color: $white-shade;
    height: 100%;
    &>.hero{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 80px);
        width: 100%;
        align-items: flex-end;
        justify-content: space-between;
        &>img{
            width: 90%;
           
        }
        &>.heroContent{
            position: absolute;
            top: 20vh;
            left: 4%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
           
      
        &>h1{
            color: $black;
            text-align: left;
            font-weight: bolder;
            font-size: 3.5rem;
            margin: 24px 0;
       
            filter: drop-shadow(0 3px 6px rgba(0, 0, 0, .05));
        }
        p{
           text-align: left;
           font-size: 18px;
           line-height: 32px;
           margin: 0 0 24px 0;
        }}
    }
    &>.methods{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 90%;
        padding: 60px 0 0 0;
        margin: auto;
        height: 100%;
        &>.title{
            display: flex;
            font-size: 2.5rem;
            font-weight: 700;
            color: $black;
            &:hover{
                &>img{
                    transform: scale(1.15);
                    transition: transform .35s ease-in-out;
                }
            }
            &>img{
                height: 60px;
                margin: 0 6px 0 0;
            }
        }
        &>.methodsCards{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 60px 0 0 0;
            &>article{
                margin: 60px 50px;
            }
        }
    }
    &>.services{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 90%;
        padding: 60px 0 0 0;
        margin: auto;
        height: 100%;
        position: relative;
        &>img{
            position: absolute;
            width: 36%;
            top: 200px;
            right: 0;
        }
        &>.title{
            display: flex;
            font-size: 2.5rem;
            font-weight: 700;
            color: $black;
            &:hover{
                &>img{
                    transform: scale(1.15);
                    transition: transform .35s ease-in-out;
                }
            }
            &>img{
                height: 60px;
         
                margin: 0 6px 0 0;
            }
        }
        &>.servicesCards{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 100px 0 100px 0;
            &>article{
                margin: 24px;
            }
        }
    }
    &>.tech{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        width: 90%;
        padding: 60px 0 0 0;
        margin: auto;
        height: 100%;
        &>.title{
            display: flex;
            font-size: 2.5rem;
            font-weight: 700;
            color: $black;
            &:hover{
                &>img{
                    transform: scale(1.15);
                    transition: transform .35s ease-in-out;
                }
            }
            &>img{
                height: 60px;
                margin: 0 6px 0 0;
            }
        }
        &>p{
            
            width: 94%;
            margin: auto;
            margin-top: 60px;
            margin-bottom: 0;
            color: $black;
            line-height: 22px;
        }
        &>.techCards{
            padding: 50px 0 100px 0;
            display: flex;
            flex-wrap: wrap;
            margin: 24px;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            overflow: hidden;

        &>.iconFrame{
            height: 100px;
            min-width: 100px;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 9px;
            margin-right: 16px;
            margin-bottom: 16px;
            transition: transform .15s ease-out;
           &:hover{
               transform: scale(1.1);
               transition: transform .25s ease-in;
           }
            &>a{
            &>img{
                height: 60px;
                width: 60px;
            }}
            
        }}
       
    }
    &>.clients{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;
        width: 90%;
        padding: 60px 0 0 0;
        margin: auto;
        min-height: 100vh;
        height: 100%;
        &>.title{
            display: flex;
            font-size: 2.5rem;
            font-weight: 700;
            color: $black;
            &:hover{
                &>img{
                    transform: scale(1.15);
                    transition: transform .35s ease-in-out;
                }
            }
            &>img{
                height: 60px;
                margin: 0 6px 0 0;

            }
        }
        &>.testimonials{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 60px 0 0 0;
            &>article{
                margin: 60px 50px;
            }
        }
    }
    &>.callToAction{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $white-shade;
        height: calc(100vh - 80px);
        width: 100%;
        position: relative;
        padding-bottom: 30px;
      &>h1{
          position: absolute;
          z-index: 3;
          top: 35vh;
          color: $black;
          
          &>mark{
              background-color: transparent;
              color: $red-100;
            
          }
      }
        &>svg{
            width: 86%;
        }
      }
      &>.contact{
         border-top: 1px solid #dddee1;
          width: 92%;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: space-around;
          padding: 0 0 60px 0;
          &>img{
              width: 40%;
          }
      }
 
}




@media only screen and (max-width: 800px) {
    .homePage{
        &>.hero{
            flex-direction: column-reverse;
            width: 90%;
            margin: auto;
            &>.heroContent{
                position: relative;
                width: 100%;
                left: 0;
                top: 2.6vh;
                &>.actions{
                    display: flex;
                    width: 96%;
                    flex-direction: row;
                    justify-content: flex-start;
                  
                   
                &>button{
                    width: fit-content;
                    padding: 12px 18px;
                    font-weight: 500;
                    
                }
       }
                &>h1{
                    font-size: 1.75rem;
                }
                &>p{
                    display: none;
                }
            }
        }
        &>.methods{
            width: 90%;
            &>.title{
                font-size: 1.2rem;
                &>img{
                    height: 40px;
                    margin: 0;
                }
            }
            &>.methodsCards{
            display: flex;
            flex-direction: column;
            padding-top: 0;
            &>article{
                margin: 24px;
            }
            }
        }
        &>.tech{
            &>p{
                margin-top: 10px;
                font-size: .9rem;
            }
            &>.title{
                font-size: 1.2rem;
                &>img{
                    height: 40px;
                    margin: 0;
                }
            }
            &>.techCards{
                
                margin: 0;
                padding-bottom: 50px;
                &>.iconFrame{
                    min-width: 50px;
                    height: 50px;
                    &>a{
                        &>img{
                            height: 35px;
                            width: 35px;
                        }
                    }
                }
            }
        }
        &>.clients{
            &>.title{
                font-size: 1.2rem;
                &>img{
                    height: 40px;
                    margin: 0;
                }
            }
            &>.testimonials{
                flex-direction: column;
                padding-top: 40px;
                &>article{
                    margin: 0;
                    margin-bottom: 40px;
                }
            }
        }
        &>.services{
            display: flex;
            flex-direction: column;
            width: 90%;
            &>.title{
                font-size: 1.2rem;
                &>img{
                    height: 40px;
                    margin: 0;
                }
            }
            &>img{
               display: none;
            }
            &>.servicesCards{
                padding: 20px 0;
            }
        }

        &>.callToAction{
            &>h1{text-align: center;
                font-size:1.2rem;
                top: 15vh;
            }
            &>svg{
                width: 86%;
            }
            height: 40vh;
        }
        &>.contact{
            flex-direction: column;
            width: 90%;
            &>img{
                width: 100%;
                margin-top: -70px;
            }
          }
    }
  }