@import '../../styles/theme/theme.scss';


   .questionsScreen{
       display: flex;
       flex-direction: column;
       width: 90%;
       margin: auto;
       height: 80vh;
       &>.screenInfo{
        margin: 0 auto;
        width: 50%;
     
  
    }
   }
   .navigationButtons{
    
        background-color: $white-shade;
        position: fixed;
        bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #c0c0c030;
        display: flex;
        left: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        &>div{
          width: 96%;
          display: flex;
          justify-content: space-between;
        }
      
   }