@import '../../styles/theme/theme.scss';


.headerLanding{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 9;
    background-color: $white-shade;
  &>img{
      height: 40px;
      margin-left: 2%;
      cursor: pointer;
    
  }
  &>nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: -120px;
      &>a{
          text-decoration: none;
          cursor: pointer;
          color: $black;
          margin: 0 38px;
          font-size: 1.05rem;
          font-weight: 600;
     
      &:hover{
         color: $red-100;
         transition: color ease-in-out .35s;
     
      }
      }
  }
  &>.mobMenu{
    display: none;
  }
  &>.formHeader{
    cursor: pointer;
    margin-right: 2%;
    color: $black-shade;
    text-transform: capitalize;
    font-weight: 400;
    font-family: $main-font;
    font-size: 1.6rem;
    transition: transform .25s ease-out;
    &:hover{
      transform: rotate(90deg);
      transition: transform .45s ease-in;
    }
  }
  &>.estimate{
      cursor: pointer;
      margin-right: 2%;
      color: $red-darker;
      text-transform: capitalize;
      font-weight: 600;
      background-color: $white-shade;
      height: 50px;
      border-radius: 1px;
      padding: 0 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 8px 32px rgba(255,75,31,.14), 0 4px 8px rgba(255,75,31,.04);
      &:hover{
      box-shadow: 0 8px 32px rgba(255,75,31,.24), 0 4px 8px rgba(255,75,31,.14);
      transition: box-shadow .45s ease-in;
    }
  }
}


@media only screen and (max-width: 800px) {
  .headerLanding{
   
    &>.mobMenu{
      display: block;
      margin-right:  5%;

      &>svg{
        width: 30px;
      }
      &>span{
        display: none;
      }
  
    }
  
    &>.mobMenuExtended{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $white-shade;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      &>span{
        font-size: 1.9rem;
        color: black;
        font-weight: 500;
        position: absolute;
        top: 20px;
        right: 20px;
      }
      &>img{
        width: 100%;
      }
      &>nav{
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;
        width: 86%;
        top: 19vh;
        position: relative;
        &>a{
          list-style: none;
          font-size: 2rem;
          font-weight: 700;
          margin: 10px 0;
          color: $black;
        }
      }
    }
    &>img{
      height: 40px;
      margin-left: 5%;
    }
    &>nav{
      display: none;
    };
    &>.estimate{
      display: none;
    }
  }
}
