#iconSvg{
    transition: animation .35 ease-in both;
    &:hover{
        animation: grow .35s ease-in forwards; 
        transition: animation .35 ease-in both;
        #first{
                opacity: 1;
                animation: blink .35s ease-in forwards;
        }
        #secondBlink{
            opacity: 1;
            animation: blink .35s .2 ease-in forwards;
        }
        #third{
            opacity: 1;
            animation: blink .35s .3s ease-in forwards;
        }
        #fourth{
            opacity: 1;
            animation: blink .35s .4s ease-in forwards;
        }
        #fifth{
            opacity: 1;
            animation: blink .35s .5s ease-in forwards;
        }
  
        
    }
}

@keyframes grow {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

@keyframes blink{
    from {
        opacity: 0
        
    }
    to{
        opacity: 1
    }
}