@import '../../styles/theme/theme.scss';

footer{
    background-color: $white-shade;
    padding: 0 0 30px 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}