@import '../../../styles/theme/theme.scss';

input{
    font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,sans-serif;
    padding: 3px 3px 3px 12px;
    height: 38px;
    border-radius: 4px;
    color: $black;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid #dddee1;
    letter-spacing: .62px;
    font-family: $body-font;
    width: 100%;
    &:focus{
        outline: none;
        border: 1px solid $red-100;
    }
}