
$blue-dark: #0f7e89;
$blue-100: #15B4C4 ;
$blue-80: #44c3d0 ;
$blue-60: #73d2dc ;
$blue-40: #a1e1e7 ;
$blue-20: #d0f0f3 ;
$blue-0: #e8f8f9;

$red-darker: #e09563;
$red-100:#f9a66e;
$red-90: #faaf7d;
$red-80: #fab88b;
$red-70: #fbc19a;
$red-60: #fbcaa8;
$red-50: #fcd3b7;
$red-40: #fddbc5;
$red-30: #fde4d4;
$red-20: #feede2;
$red-10: #fef6f1;


$black: #2f4f4f;
$black-shade: #363636;
$white-shade: #f7f7f8;
$white: #fff;
$gray: #e8e8e8;